---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillQueue.xml.aspx?characterID=123&keyID=123&vCode=abc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-02-17 15:35:11</currentTime>\r\n  <error code=\"904\">Your
        IP address has been temporarily blocked because it is causing too many errors.
        See the cacheUntil timestamp for when it will be opened again. IPs that continually
        cause a lot of errors in the API will be permanently banned, please take measures
        to minimize problematic API calls from your application.</error>\r\n  <cachedUntil>2013-02-17
        15:44:37</cachedUntil>\r\n</eveapi>"
  recorded_at: Sun, 17 Feb 2013 15:35:11 GMT
recorded_with: VCR 2.4.0
