---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillQueue.xml.aspx?characterID=123&keyID=123&vCode=abc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-02-17 15:44:34</currentTime>\r\n  <result>\r\n    <rowset
        name=\"skillqueue\" key=\"queuePosition\" columns=\"queuePosition,typeID,level,startSP,endSP,startTime,endTime\">\r\n
        \     <row queuePosition=\"0\" typeID=\"3425\" level=\"2\" startSP=\"500\"
        endSP=\"2829\" startTime=\"2013-02-17 15:39:54\" endTime=\"2013-02-17 16:57:32\"
        />\r\n      <row queuePosition=\"1\" typeID=\"3425\" level=\"3\" startSP=\"2829\"
        endSP=\"16000\" startTime=\"2013-02-17 16:57:32\" endTime=\"2013-02-18 00:16:34\"
        />\r\n      <row queuePosition=\"2\" typeID=\"3425\" level=\"4\" startSP=\"16000\"
        endSP=\"90510\" startTime=\"2013-02-18 00:16:34\" endTime=\"2013-02-19 17:40:14\"
        />\r\n    </rowset>\r\n  </result>\r\n  <cachedUntil>2013-02-17 16:41:34</cachedUntil>\r\n</eveapi>"
  recorded_at: Sun, 17 Feb 2013 15:44:33 GMT
recorded_with: VCR 2.4.0
