---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillQueue.xml.aspx?characterID=123&keyID=123&vCode=abc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-02-16 18:56:01</currentTime>\r\n  <result>\r\n    <rowset
        name=\"skillqueue\" key=\"queuePosition\" columns=\"queuePosition,typeID,level,startSP,endSP,startTime,endTime\">\r\n
        \     <row queuePosition=\"0\" typeID=\"3437\" level=\"5\" startSP=\"185408\"
        endSP=\"256000\" startTime=\"2013-02-16 00:20:10\" endTime=\"2013-02-18 15:33:14\"
        />\r\n    </rowset>\r\n  </result>\r\n  <cachedUntil>2013-02-16 19:44:22</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 16 Feb 2013 18:56:01 GMT
recorded_with: VCR 2.4.0
